
<h3>From: {{data.parent1Email}}</h3><br/>
Spam: {{spam}}<br/>
Year: <br/>
{{data.year1}}<br/>
<br/>
<h3>Weeks Selected:</h3><br/>
Week1:<br/>
{{data.Week1}}<br/>
Week2:<br/>
{{data.Week2}}<br/>
Week3:<br/>
{{data.Week3}}<br/>
Week4:<br/>
{{data.Week4}}<br/>
Week5:<br/>
{{data.Week5}}<br/>
Week6:<br/>
{{data.Week6}}<br/>
Week7:<br/>
{{data.Week7}}<br/>
Week8:<br/>
{{data.Week8}}<br/>
Week9:<br/>
{{data.Week9}}<br/>
Week10:<br/>
{{data.WeekA}}<br/>
Week11:<br/>
{{data.WeekB}}<br/>
<br/>
<h3>Children Attending:</h3><br/>
<br/>
Number Of Children : <br/>
{{data.numberOfChildren}}<br/>
<br/>
<h4>1st Child:</h4><br/>
Name: <br/>
{{data.childFirstName1}} {{data.childLastName1}}<br/>
Birthday: <br/>
{{data.birthday1}}<br/>
Age: <br/>
{{data.age1}}<br/>
Allergies: <br/>
{{data.allergies1}}<br/>
<br/>
<h4>2nd Child:</h4><br/>
Name: <br/>
{{data.childFirstName2}} {{data.childLastName2}}<br/>
Birthday: <br/>
{{data.birthday2}}<br/>
Age: <br/>
{{data.age2}}<br/>
Allergies: <br/>
{{data.allergies2}}<br/>
<br/>
<h4>3rd Child:</h4><br/>
Name: <br/>
{{data.childFirstName3}} {{data.childLastName3}}<br/>
Birthday: <br/>
{{data.birthday3}}<br/>
Age: <br/>
{{data.age3}}<br/>
Allergies: <br/>
{{data.allergies3}}<br/>
<br/>
<h4>4th Child:</h4><br/>
Name: <br/>
{{data.childFirstName4}} {{data.childLastName4}}<br/>
Birthday: <br/>
{{data.birthday4}}<br/>
Age: <br/>
{{data.age4}}<br/>
Allergies: <br/>
{{data.allergies4}}<br/>
<br/>
<h3>Parent Information: </h3><br/>
<br/>
<h4>Parent 1:</h4><br/>
name: <br/>
{{data.parent1Name}}<br/>
email:<br/>
{{data.parent1Email}}<br/>
phone:<br/>
{{data.parent1Phone}}<br/>
address: <br/>
{{data.address}}<br/>
<br/>
<h4>Parent 2:</h4><br/>
{{data.parent2Name}}<br/>
email:<br/>
{{data.parent2Email}}<br/>
phone:<br/>
{{data.parent2Phone}}<br/>
<br/>
<h3>Emergency Contact Information:</h3><br/>
<br/>
<h4>Contact 1:</h4><br/>
Name: {{data.emergency1Name}}<br/>
Phone: {{data.emergency1Phone}}<br/>
Relationship: {{data.emergency1Relationship}}<br/>
<br/>
<h4>Contact 1:</h4><br/>
Name: {{data.emergency2Name}}<br/>
Phone: {{data.emergency2Phone}}<br/>
Relationship: {{data.emergency2Relationship}}<br/>
<br/>
<h3>Physician Information: </h3><br/>
Name: {{data.physicianName}}<br/>
Phone: {{data.physicianPhone}}<br/>
<br/>
<h3>Dentist Information:</h3> <br/>
Name: {{data.dentistName}}<br/>
Phone: {{data.dentistPhone}}<br/>
<br/>
<h3>Payment Method:</h3> <br/>
Method: {{data.paypal}}{{data.mail}}<br/>
<br/>

